{% load i18n %}
<ol style="padding: 10px 30px;">
    {% for category in categories %}
        {% if category.has_items %}
            <li>
                {{ category.name }}
                {% if category.get_clubs %}
                    <ul>
                        {% for club in category.get_clubs %}
                            <li>
                                <a href="{% url "club-edit" club.id %}">{% trans "edytuj" %}</a>
                                <a href="{% url "club-delete" club.id %}">{% trans "usuń" %}</a>
                                <b>{{ club.name }}</b>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if category.get_children %}
                    {% include 'dashboard/club-list-include.html' with categories=category.get_children %}
                {% endif %}
            </li>
        {% endif %}
    {% empty %}
        <li>
            {% trans "nie ma jeszcze żadnej kategorii klubów w tej organizacji" %}
            - <a href="{% url 'club-category-add' %}?o={{ org_id }}">{% trans "dodaj pierwszą" %}</a>
        </li>
    {% endfor %}
</ol>