{% extends 'index.html' %}

{% load i18n %}
{% block title %}{% trans "Lista kategorii klubów" %}{% endblock %}

{% block content %}
    {% for organization in object_list %}
        <h3>{{ organization.name }}</h3>
        {% include 'dashboard/club-category-list-include.html' with categories=organization.get_main_club_categories %}
    {% empty %}
        <h3>
            {% trans "nie ma jeszcze żadnej organizacji, do której przypisane mogą być kategorie klubów" %}
            - <a href="{% url 'organization-add' %}">{% trans "dodaj organizację" %}</a>
        </h3>
    {% endfor %}
{% endblock %}