{% extends 'index.html' %}

{% block title %}Lista organizacji{% endblock %}

{% block content %}

<ol class="list-group list-group-flush">
{% for object in object_list %}
    <li class="list-group-item">
        <a href="{% url 'organization_edit' object.id %}" class="btn btn-sm btn-info">edytuj</a>
        <a href="{% url 'organization_delete' object.id %}" class="btn btn-sm btn-danger">usuń</a>
        {{ object.name }}
    </li>
{% empty %}
    <li>No items yet.</li>
{% endfor %}
</ol>

{% endblock %}