{% extends 'index.html' %}

{% load i18n %}
{% block title %}{% trans "Lista sezonów" %}{% endblock %}

{% block content %}
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">{% trans "Lista sezonów" %}</h4>
                <ol class="cat-list">
                    {% for object in object_list %}
                        <li>
                            {{ object.name }}
                            <ol class="cat-list">
                                {% for season in object.seasons.values %}
                                    <li>
                                        {{ season.name }}
                                        <a href="{% url 'season-edit' season.id %}" class="cat-list-btn">{% trans "edytuj" %}</a>
                                        <a href="{% url 'season-delete' season.id %}" class="cat-list-btn cl-btn-2">{% trans "usuń" %}</a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </li>
                    {% empty %}
                        <li>
                            {% trans "nie ma jeszcze żadnego sezonu" %}
                            - <a href="{% url 'season-add' %}">{% trans "dodaj pierwszy" %}</a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}