{% extends 'index.html' %}

{% load i18n %}
{% block title %}{% trans "Dodaj nowy zespół" %}{% endblock %}

{% block content %}
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">{% trans "Dodaj zespół" %}</h4>
                <form method="post" id="team-form-id" data-seasons-url="{% url 'restapi:api-seasons-list' %}" data-clubs-url="{% url 'restapi:api-clubs-list' %}">
                    {% include "dashboard/team-form.html" %}
                    <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">{% trans "zapisz zmiany" %}</button>
                    <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4" name="another-one" value="1">{% trans "zapisz zmiany i dodaj kolejny" %}</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}